name: Go

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    name: Lint, Test and Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21.x'
        cache-dependency-path: backend/go.sum
    
    - name: Download Dependencies
      run: go mod download
    
    - name: Lint
      uses: golangci/golangci-lint-action@v6
      with:
        version: latest
        working-directory: backend/cmd
        args: --timeout=5m
    
    - name: Test
      run: go test -v ./... -v -race -coverprofile=coverage.out
    
    - name: Build
      run: |
        mkdir -p bin
        go build -o bin/app backend/cmd/main.go
    
    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: go-info-system
        path: ./bin/app