name: Go
on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    name: Run Linter
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21.x'
    - name: Install GolangCI-Lint
      run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

    - name: Run GolangCI-Lint
      run: golangci-lint run --timeout=5m

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Setup Go
      uses: actions/checkout@v5
      with:
        go-version: '1.21.x'
    - name: Build
      run: go build -v ./...
      working-directory: ./backend
    - name: Test
      run: go test -v ./...
      working-directory: ./backend